ssh/*

*.log

php/php.ini
apache/httpd-vhosts.conf

vim/bundle/*
!vim/bundle/vundle

vim/sessions/*
!vim/sessions/README.dm

vim/nt/*
!vim/nt/README.md

vim/tmp/undo/*
vim/tmp/swap/*
vim/tmp/backup/*
!vim/tmp/undo/README.md
!vim/tmp/swap/README.md
!vim/tmp/backup/README.md

vim/.netrwhist
